# 01. Importing Libraries

In [8]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# setting path
path = r'/Users/shikhakamboj/Documents/Part-6 Achievement 6'

# import data sets from original data folder 

df_original_cacao_data = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

In [14]:
# Checking columns

df_original_cacao_data.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [16]:
# Renaming columns

df_original_cacao_data.columns = [
    "Company",
    "Specific_Bean_Origin",
    "REF",
    "Review_Date",
    "Cocoa_Percent",
    "Company_Location",
    "Rating",
    "Bean_Type",
    "Broad_Bean_Origin",
]

In [61]:
# displaying updated column names

df_original_cacao_data.head(10)

,Company,Specific_Bean_Origin,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

# 02. Consistency Checks

In [98]:
# Check for missing values

df_original_cacao_data.isnull().sum()

Company                 0
Specific_Bean_Origin    0
Review_Date             0
Cocoa_Percent           0
Company_Location        0
Rating                  0
Bean_Type               0
Broad_Bean_Origin       0
dtype: int64

For the column Bean_Type, we initially identified only 1 blank value. However, upon reviewing the displayed data, we noticed that there are additional blank values present. Let’s investigate these values further to understand their nature.

In [59]:
df_original_cacao_data['Bean_Type'].iloc[0]

'\xa0'

We encountered the value \xa0, which represents a non-breaking space in Unicode. This often appears in datasets due to formatting issues in the source file. To identify all rows in the Bean_Type column containing this value, we can use pandas filtering.

In [52]:
filtered_rows = df_original_cacao_data[df_original_cacao_data['Bean_Type'] == '\xa0']
filtered_rows

,Company,Specific_Bean_Origin,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,,Dominican Republic
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

Based on the output mentioned above, we identified 887 rows containing the value '\xa0'. To address this issue, we can replace '\xa0' with a more meaningful value such as "Unknown" or NaN. This will help in cleaning the data and ensuring the Bean_Type column is consistent and easier to analyze.

In [66]:
df_original_cacao_data['Bean_Type'] = df_original_cacao_data['Bean_Type'].replace('\xa0', 'Unknown')

In [72]:
df_original_cacao_data.head()

,Company,Specific_Bean_Origin,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Unknown,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Unknown,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Unknown,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Unknown,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Unknown,Peru

In [80]:
# We will replace the missing values with "Unknown" instead of dropping them, even though they could be removed due to their minimal impact. 
# Replacing them ensures consistency in the dataset and avoids losing any rows.

df_original_cacao_data['Bean_Type'] = df_original_cacao_data['Bean_Type'].fillna('Unknown')
df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].fillna('Unknown')

In [78]:
# Verify for missing values

df_original_cacao_data.isnull().sum()

Company                 0
Specific_Bean_Origin    0
REF                     0
Review_Date             0
Cocoa_Percent           0
Company_Location        0
Rating                  0
Bean_Type               0
Broad_Bean_Origin       0
dtype: int64

In [86]:
# Check if the REF column contains unique values

print(df_original_cacao_data['REF'].is_unique)

False

This column does not have any analytical relevance for this project, so it can be dropped from the dataset.

In [89]:
# Dropping the column REF

df_original_cacao_data = df_original_cacao_data.drop(columns=['REF'])

In [93]:
# Finding Duplicates

df_dups = df_original_cacao_data[df_original_cacao_data.duplicated()]
df_dups

Empty DataFrame
Columns: [Company, Specific_Bean_Origin, Review_Date, Cocoa_Percent, Company_Location, Rating, Bean_Type, Broad_Bean_Origin]
Index: []

No duplicates found in the dataset.

# Clean and Convert Data

In [102]:
# Remove '%' and convert to numeric using apply

df_original_cacao_data['Cocoa_Percent'] = df_original_cacao_data['Cocoa_Percent'].apply(lambda x: x.strip('%')).astype(float)

In [114]:
# Check unique values in categorical columns

df_original_cacao_data["Company_Location"].unique()

array(['France', 'U.S.A.', 'Fiji', 'Ecuador', 'Mexico', 'Switzerland',
       'Netherlands', 'Spain', 'Peru', 'Canada', 'Italy', 'Brazil',
       'U.K.', 'Australia', 'Wales', 'Belgium', 'Germany', 'Russia',
       'Puerto Rico', 'Venezuela', 'Colombia', 'Japan', 'New Zealand',
       'Costa Rica', 'South Korea', 'Amsterdam', 'Scotland', 'Martinique',
       'Sao Tome', 'Argentina', 'Guatemala', 'South Africa', 'Bolivia',
       'St. Lucia', 'Portugal', 'Singapore', 'Denmark', 'Vietnam',
       'Grenada', 'Israel', 'India', 'Czech Republic',
       'Domincan Republic', 'Finland', 'Madagascar', 'Philippines',
       'Sweden', 'Poland', 'Austria', 'Honduras', 'Nicaragua',
       'Lithuania', 'Niacragua', 'Chile', 'Ghana', 'Iceland', 'Eucador',
       'Hungary', 'Suriname', 'Ireland'], dtype=object)

In [116]:
df_original_cacao_data["Broad_Bean_Origin"].unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', '\xa0', 'Jamaica',
       'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Domincan Republic', 'Haiti', 'Congo', 'Philippines', 'Malaysia',
       'Dominican Rep., Bali', 'Venez,Africa,Brasil,Peru,Mex', 'Gabon',
       'Ivory Coast', 'Carribean', 'Sri Lanka', 'Puerto Rico', 'Uganda',
       'Martinique', 'Sao Tome & Principe', 'Vanuatu', 'Australia',
       'Liberia', 'Ecuador, Costa Rica', 'West Africa', 'Hawaii',
       'St. Lucia', 'Cost Rica, Ven', 'Peru, Madagascar',
       'Venezuela, Trinidad', 'Trinidad, Tobago',
       'Ven, Trinidad, Ecuador', 'South America, Africa', 'India',
       'Africa, Carribean, C. Am.', 'Tobago', 'Ven., Indonesia, Ecuad.',
       'Trinidad-Tobago', 'Peru, Ecuador, Venezuela',
       'Venezuela, Dom. Rep.', 'Colombia, Ecuador', 'Solomon Islands',
       'Nigeria', 'Peru, Belize', 'Peru, Mad., Dom. Rep.', 'Unknown',
       'PNG, Vanuatu, Mad', 'El Salvador', 'South America', 'Samoa',
       'Ghana, Domin. Rep', 'Trinidad, Ecuador', 'Cameroon',
       'Venezuela, Java', 'Venezuela/ Ghana', 'Venezuela, Ghana',
       'Indonesia, Ghana', 'Peru(SMartin,Pangoa,nacional)', 'Principe',
       'Central and S. America', 'Ven., Trinidad, Mad.',
       'Carribean(DR/Jam/Tri)', 'Ghana & Madagascar',
       'Ven.,Ecu.,Peru,Nic.', 'Madagascar & Ecuador',
       'Guat., D.R., Peru, Mad., PNG', 'Peru, Dom. Rep',
       'Dom. Rep., Madagascar', 'Gre., PNG, Haw., Haiti, Mad',
       'Mad., Java, PNG', 'Ven, Bolivia, D.R.', 'DR, Ecuador, Peru',
       'Suriname', 'Peru, Ecuador', 'Ecuador, Mad., PNG',
       'Ghana, Panama, Ecuador', 'Venezuela, Carribean'], dtype=object)

The Broad_Bean_Origin column has inconsistent entries, such as extra spaces, combined regions, abbreviations, and potentially erroneous values like '\xa0'.

In [119]:
# Step 1: Remove leading or trailing spaces from the values

df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].str.strip()

In [121]:
# Step 2: Replace '\xa0' with 'Unknown'

df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].replace('\xa0', 'Unknown')

In [125]:
# Step 3: Replace specific combined values with one standardized name

broad_bean_origin_mapping = {
    "Domincan Republic": "Dominican Republic",
    "Dominican Rep., Bali": "Dominican Republic, Bali",
    "D.R.": "Dominican Republic",
    "DR": "Dominican Republic",
    "Venez,Africa,Brasil,Peru,Mex": "Venezuela,Africa,Brasil,Peru,Mexico",
    "Sao Tome & Principe": "Sao Tome",
    "Ecuador, Costa Rica": "Ecuador, Costa Rica,",
    "St. Lucia": "Saint Lucia",
    "Cost Rica, Ven": "Costa Rica, Venezuela",
    "Peru, Madagascar": "Peru, Madagascar",
    "Venezuela, Trinidad": "Venezuela, Trinidad",
    "Trinidad, Tobago": "Trinidad, Tobago",
    "Ven, Trinidad, Ecuador": "Venezuela, Trinidad, Ecuador",
    "South America, Africa": "South America, Africa",
    "Africa, Carribean, C. Am.": "Africa, Carribean, Central America",
    "Ven., Indonesia, Ecuad.": "Venezuela, Indonesia, Ecuador",
    "Trinidad-Tobago": "Trinidad",
    "Peru, Ecuador, Venezuela": "Peru, Ecuador, Venezuela",
    "Venezuela, Dom. Rep.": "Venezuela, Dominican Republic",
    "Colombia, Ecuador": "Colombia, Ecuador",
    "Peru, Belize": "Peru, Belize",
    "Peru, Mad., Dom. Rep.": "Peru, Madagascar, Dominican Republic",
    "PNG, Vanuatu, Mad": "Papua New Guinea, Vanuatu, Madagascar",
    "Ghana, Domin. Rep": "Ghana, Dominican Republic",
    "Trinidad, Ecuador": "Trinidad, Ecuador",
    "Venezuela, Java": "Venezuela",
    "Venezuela/ Ghana": "Venezuela, Ghana",
    "Venezuela, Ghana": "Venezuela, Ghana",
    "Indonesia, Ghana": "Indonesia, Ghana",
    "Peru(SMartin,Pangoa,nacional)": "Peru",
    "Principe": "Sao Tome",
    "Central and S. America": "Central America, South America",
    "Ven., Trinidad, Mad.": "Venezuela, Trinidad, Madagascar",
    "Carribean(DR/Jam/Tri)": "Caribbean",
    "Ghana & Madagascar": "Ghana, Madagascar",
    "Ven.,Ecu.,Peru,Nic.": "Venezuela,Ecuador,Peru, Nicaragua",
    "Madagascar & Ecuador": "Madagascar, Ecuador",
    "Guat., D.R., Peru, Mad., PNG": "Guatemala, Dominican Republic, Peru, Madagascar, Papua New Guinea ",
    "Peru, Dom. Rep": "Peru, Dominican Republic",
    "Dom. Rep., Madagascar": "Dominican Republic, Madagascar",
    "Gre., PNG, Haw., Haiti, Mad": "Grenada, Papua New Guinea, Hawaii, Haiti, Madagascar ",
    "Mad., Java, PNG": "Madagascar, Papua New Guinea",
    "Ven, Bolivia, D.R.": "Venezuela, Bolivia, Dominican Republic",
    "DR, Ecuador, Peru": "Dominican Republic, Ecuador, Peru",
    "Peru, Ecuador": "Peru, Ecuador",
    "Ecuador, Mad., PNG": "Ecuador, Madagascar, Papua New Guinea",
    "Ghana, Panama, Ecuador": "Ghana, Panama, Ecuador",
    "Venezuela, Carribean": "Venezuela, Carribean",
}

# Replace multiple values at once

df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].replace(broad_bean_origin_mapping)

In [131]:
# Step 4: Handle Combined Regions by separating them into multiple rows

# 1: Split combined regions into lists
df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].str.split(',')

# 2: Explode the lists into separate rows
df_original_cacao_data = df_original_cacao_data.explode('Broad_Bean_Origin')

# 3: Clean up extra spaces
df_original_cacao_data['Broad_Bean_Origin'] = df_original_cacao_data['Broad_Bean_Origin'].str.strip()

# Verify the result
df_original_cacao_data.head(10)

,Company,Specific_Bean_Origin,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,2016,63.0,France,3.75,Unknown,Sao Tome
1,A. Morin,Kpime,2015,70.0,France,2.75,Unknown,Togo
2,A. Morin,Atsane,2015,70.0,France,3.00,Unknown,Togo
3,A. Morin,Akata,2015,70.0,France,3.50,Unknown,Togo
4,A. Morin,Quilla,2015,70.0,France,3.50,Unknown,Peru
5,A. Morin,Carenero,2014,70.0,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,2014,70.0,France,3.50,Unknown,Cuba
7,A. Morin,Sur del Lago,2014,70.0,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,2014,70.0,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,2014,70.0,France,4.00,Unknown,Peru

In [135]:
# verifying unique values

df_original_cacao_data["Broad_Bean_Origin"].unique()

array(['Sao Tome', 'Togo', 'Peru', 'Venezuela', 'Cuba', 'Panama',
       'Madagascar', 'Brazil', 'Ecuador', 'Colombia', 'Burma',
       'Papua New Guinea', 'Bolivia', 'Fiji', 'Mexico', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Tanzania',
       'Dominican Republic', 'Ghana', 'Belize', '', 'Jamaica', 'Grenada',
       'Guatemala', 'Honduras', 'Costa Rica', 'Haiti', 'Congo',
       'Philippines', 'Malaysia', 'Bali', 'Africa', 'Brasil', 'Gabon',
       'Ivory Coast', 'Carribean', 'Sri Lanka', 'Puerto Rico', 'Uganda',
       'Martinique', 'Vanuatu', 'Australia', 'Liberia', 'West Africa',
       'Hawaii', 'Saint Lucia', 'Tobago', 'South America', 'India',
       'Central America', 'Solomon Islands', 'Nigeria', 'Unknown',
       'El Salvador', 'Samoa', 'Cameroon', 'Caribbean', 'Suriname'],
      dtype=object)

In [137]:
# Cleaned data exported

df_original_cacao_data.to_csv(os.path.join(path, 'Data','Prepared Data', 'flavors_of_cacao_cleaned.csv'))